html {
background-image: url("images/Screen\ Shot\ 2020-11-24\ at\ 15.04.03.png");
background-color: pink;
/*background-position: 0px; */
background-size: cover;
background-repeat: no-repeat;
background-size: 1500px;





/*background-size: contain;
background-repeat: no-repeat; */
}

body{
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    margin-left: 490px;
    margin-top: 129px;


}

.paths{
    height: 40px;
    width: 40px;


}

.walls{
    height: 40px;
    width: 40px;
    background-color: pink;
 


}

.startingPoint{
    height: 40px;
    width: 40px;
    /*background-image: url("Screen\ Shot\ 2020-11-25\ at\ 13.00.18.png"); */
    background-size: cover ;

   /* background-color: #F7D5E7;*/



}

.player{
    height: 40px;
    width: 45px;
    background-position: ;

    background-image: url("images/image.png"); 
    background-size: cover;


} 


.treasure{
    height: 40px;
    width: 40px;
    /*background-color: antiquewhite; */
    background-image: url("images/Screen_Shot_2020-11-25_at_11.07.37-removebg-preview.png");
    background-size: cover;


    /*background-image: url("");*/

}

/*footer {
    margin-top: 50px;
    font-size: 15px;
    color: #F7D5E7; 
    padding-left: 346px;
    padding-right: 110px;
    padding-bottom: 30px;


    font-family: 'Corben', cursive;
    background-size: cover ;
} */



